@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.377);
    font-family: "Noto Serif", serif;
    
}




nav {
    &.primary-navigation {
      margin: 0 auto;
      display: block;
      padding: 120px 0 0 0;  
      height: 150px;
      text-align: center;
      font-size: 16px;
      background-color: black;
      font-family: arvo;
  
      ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid rgba(255, 255, 255, 0.74);
        display: inline-block;
        padding: 0 30px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: arvo;
        color: white;
        /* transition: all 1s ease; */
      }
  
     
      li a {
        color: white;
        transition: all 1s ease;
      }
  
      li a:hover {
        color: rgb(136, 138, 150)
      }
     
     
  
      li:hover {
        cursor: pointer;
      }
  
      ul li .dropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: black;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 20px;
        background-color:yellow;
        /* box-shadow: 0px 3px 5px -1px rgba(255, 255, 255, 0.473); */
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid white;
        transition: all 0.3s ease;
      }
    
    }
  }
  
  a {
  
      text-decoration: none;
  
       &:hover {
          color: white;
      } 
   
  }
  
   ul li ul li a { transition: all 0.5s ease; } 



/*--------- index -----------*/
.fotocv{
    max-width: 100px;
    margin:10px;
}
.fotocv img{
    width: 100%;
}
main {
    display: flex;
    align-items: center;
    margin-top: 54px;
    justify-content: center;
    flex-direction: column;
}
.textcv{
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px;
    font-family: "Noto Serif", serif;
}
.thisisjo{
  display: flex;
  align-items: end;
  font-size: 20px;
  margin-top: 100px;
  
}
.textjo{
  width: 652px;
  font-size:20px;
}

/*------------- current research ---------------------*/
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: 426px;
    margin-top: 120px;
} */


/* .current {
    margin: 30px;
    line-height: 35px;
} */
/* .current a, .publi a{ */
  /* color: black;
    font-weight: 700; */
    /* font-size: 22px; */
    /* transition: all 0.5s ease; */
/* } */

.textocurrent, .textopubli{
    font-size: 18px;
}

/*---------- Current Research-----*/
.publications, .container,  .interviews.list, .grants-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}
.publications.policy, .wrapprojects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items:baseline;
}


h1{
  text-align: center;
  margin-bottom: 110px;
  margin-top: 70px;
}

.publi, .current, .public.pol, .projectpol, .interview, .grant{
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 50px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #00000024;
}
.current{
  margin-right: 175px !important;
}
.textopubli, .textocurrent, .textpol, .projectpoltext{
  margin-top: 19px;
  display:none;
}
 .publi a, .current a, .public.pol a, .projectpol a, .interview a, .grant a{
  font-size: 14px;
  color: black;
  font-weight: 700;
  /* transition: all 0.5s ease; */
}

.current a:hover, .publi a:hover, .public.pol a:hover, .projectpol a:hover, .interview a:hover, .grant a:hover{
  /* color: rgba(245, 245, 245, 0.349); */
  
  color: rgba(0, 0, 0, 0.486);
}
.untertiteln{
  font-size:14px;
}

  


   /*----------------------------------- max-width: 810px -----------------*/


   /*------------------- nav ------------------*/

@media (max-width: 810px){
    nav {
        &.primary-navigation {
         margin: 0;
         display: flex;
         justify-content: start;
         padding-top: 16px;
         padding-bottom: 21px;
        padding-left: 10px;
         height: 200px;
         
        

          ul{
            margin-left:15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
          }
      
          ul li {
            padding: 0;
            margin: 0;
            border-left: 0px;
            text-align: left;        
         }

         ul li .dropdown {
            top:-10px;
            left: 90px;
         }
         ul li {
            border-right-width: 27px;
            border-right-style: solid;
            border-right-color: black;
        
         }

         ul li:hover > ul,
         ul li ul:hover{
            padding: 0;
            visibility: visible;
            opacity: 1;
            display: block;
        
 
         }

         ul li ul li{
            text-align: left;
            margin-bottom: 0;
            z-index: 1;
         }
         ul li ul li a{
            font-size: 14px;
         }

         ul li ul li a:hover{
            border:0px;
         }


       
           
           
         }
    }
    ul li ul li a { transition: all 0.1s ease-in-out; } 
}

